@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";

.redressed {
    font-family: 'redressed',cursive;
}
.merriweather{
    font-family: 'merriweather',serif;
}

.cc-navbar{
    background-color:rgba(0, 0, 0, 0.55);
    font-family:'merriweather', serif;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
    z-index: 99;
}
.cc-navbar .nav-link {
    border-bottom: 1px solid transparent;
    transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}
.cc-navbar .nav-link:hover{
    padding-bottom: 20px;
    border-bottom-color: var(--bs-teal);
}
.banner{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/image/pexels-israel-frança-2264036.jpg')
    center center fixed no-repeat;
    background-size: cover;
    height: 1000px;
}
.banner .banner-desc{
    font-size: 48px;
    font-weight: 400;
    color: #fff;
}
.btn-order {
color: var(--bs-teal);
border-color: var(--bs-teal) ;
transition: 0.5s; 
}

.btn-order:hover,
.btn-order:active {
    color:#fff;
    background-color: var(--bs-teal);
}
.cc-menu{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/image/sushi-balls-5878894_1280.jpg') center center fixed no-repeat;
    background-size: cover;
    height: 1500px;
}
.btn-default{
    color: white;
    background-color: chartreuse;
}